{% extends 'base.html.twig' %}

{% block title %}New Note{% endblock %}

{% block body %}
    <h1>Create new Note</h1>

    {{ include('note/_form.html.twig') }}
    <a href="{{ path('note_index') }}">back to list</a><br />
    <script src='https://cdn.jsdelivr.net/gh/naptha/tesseract.js@v1.0.14/dist/tesseract.min.js'></script>
    <input type="file" id="imageUpload" accept="image/*">Read from an image</input>
    <div id="tesseract-log"></div>
    <script>
        function log(message) {
            document.getElementById("tesseract-log").innerHTML = message;
        }
        function recognize({ target: { files }}) {
            console.log(files);
            log("Wait...");
            Tesseract.recognize(files[0], {
                lang: 'eng',
            })
            .progress(function(progress) {
                log("Initializing...");
                if (progress.status === "recognizing text") {
                    log(`Recognizing text: ${(progress.progress * 100).toLocaleString(undefined, { maximumFractionDigits: 2 })}%`);
                }
                if (progress.status === "recognizing text" && progress.progress === 1) {
                    log("Done. You can review and trim the text in the input box above.");
                }
                console.log(progress)
            })
            .then(function(result){
                console.log(result)
                log("Done.");
                document.getElementById("note_content").value = result.text;
            })
        }
        const elm = document.getElementById('imageUpload');
        elm.addEventListener('change', recognize);
    </script>
{% endblock %}